USE [master]
GO
/****** Object:  Database [WEB_JOBHIVE_6]    Script Date: 6/30/2025 8:40:01 PM ******/
CREATE DATABASE [WEB_JOBHIVE_6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WEB_JOBHIVE_6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WEB_JOBHIVE_6.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WEB_JOBHIVE_6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WEB_JOBHIVE_6_log.ldf' , SIZE = 10240KB , MAXSIZE = 10240KB , FILEGROWTH = 5120KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WEB_JOBHIVE_6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WEB_JOBHIVE_6]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[migration] [nvarchar](255) NOT NULL,
	[batch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[id] [nvarchar](255) NOT NULL,
	[user_id] [bigint] NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[payload] [nvarchar](max) NOT NULL,
	[last_activity] [int] NOT NULL,
 CONSTRAINT [sessions_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_admin]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_admin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](300) NULL,
	[active] [bit] NULL,
	[role] [varchar](50) NULL,
	[image] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbl_admin] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_category]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_category](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_category] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_company]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_company](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[_name] [nvarchar](100) NULL,
	[_location] [nvarchar](200) NULL,
	[_sector] [nvarchar](100) NULL,
	[_email] [varchar](100) NULL,
	[_employer_id] [int] NULL,
	[_image] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbl_company] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_district]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_district](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[_name] [nvarchar](50) NULL,
	[_lat] [nvarchar](30) NULL,
	[_lng] [nvarchar](30) NULL,
	[_city_id] [int] NULL,
 CONSTRAINT [PK_tbl_district] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_employer]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_employer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](300) NULL,
	[active] [bit] NULL,
	[role] [varchar](50) NULL,
	[image] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbl_employer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_experience_level]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_experience_level](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_experience_level] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_feedback]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_feedback](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[_content] [nvarchar](200) NULL,
	[_user_id] [int] NULL,
	[_rating] [int] NULL,
 CONSTRAINT [PK_tbl_feedback] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_job]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_job](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[_title] [nvarchar](250) NULL,
	[_description] [ntext] NULL,
	[_company_id] [int] NULL,
	[_day_post] [date] NULL,
	[_salary] [decimal](10, 2) NULL,
	[_category_id] [int] NULL,
	[_experience_level_id] [int] NULL,
	[_job_type_id] [int] NULL,
	[_feedback_id] [int] NULL,
	[_apply_deadline] [date] NULL,
	[_remote_onsite] [bit] NULL,
	[_employer_id] [int] NULL,
	[_region_id] [int] NULL,
	[_perk] [ntext] NULL,
	[_require] [ntext] NULL,
	[_education] [ntext] NULL,
	[_slug] [varchar](300) NULL,
	[_district_id] [int] NULL,
 CONSTRAINT [PK_tbl_job] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_job_type]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_job_type](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[_name] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbl_job_type] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_region]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_region](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_region] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_saved_job]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_saved_job](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[_user_id] [int] NULL,
	[_job_id] [int] NULL,
 CONSTRAINT [PK_tbl_saved_job] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 6/30/2025 8:40:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](50) NULL,
	[password] [nvarchar](300) NULL,
	[cv] [nvarchar](200) NULL,
	[active] [bit] NULL,
	[role] [varchar](50) NULL,
	[image] [nvarchar](200) NULL,
 CONSTRAINT [PK_tbl_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[migrations] ON 

INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (1, N'2025_06_15_032913_create_sessions_table', 1)
SET IDENTITY_INSERT [dbo].[migrations] OFF
GO
INSERT [dbo].[sessions] ([id], [user_id], [ip_address], [user_agent], [payload], [last_activity]) VALUES (N'5Wm6J2D1daE46I6cgh3Flrd9qP4MHAJeNcsutPLI', NULL, N'127.0.0.1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36', N'YTozOntzOjY6Il90b2tlbiI7czo0MDoiUlpHbHlBT01HUTIxTjltVjMyeDZZbnlCS1p3TFhiWUpXOUNLV3R0byI7czo2OiJfZmxhc2giO2E6Mjp7czozOiJvbGQiO2E6MDp7fXM6MzoibmV3IjthOjA6e319czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6MjE6Imh0dHA6Ly9sb2NhbGhvc3Q6ODAwMCI7fX0=', 1751290691)
GO
SET IDENTITY_INSERT [dbo].[tbl_admin] ON 

INSERT [dbo].[tbl_admin] ([id], [name], [email], [password], [active], [role], [image]) VALUES (1, N'Admin1', N'admin1@gmail.com', N'$2y$12$nFW/grjeJza5pphjYFcndeFgIlyqsUcSgs4GbE7vD6jNdK.afmKiy', 1, N'admin', N'https://res.cloudinary.com/dpwseh8x3/image/upload/v1751120794/unqo7scczkj3dcjc6kou.jpg')
INSERT [dbo].[tbl_admin] ([id], [name], [email], [password], [active], [role], [image]) VALUES (2, N'Admin2', N'admin2@gmail.com', N'$2y$12$uLHLPAI84LUkeP6yv4TuOulbGk9MD/Dl4iADuu.QbbkAohU3L/QLa', 1, N'admin', N'https://res.cloudinary.com/dpwseh8x3/image/upload/v1751120794/unqo7scczkj3dcjc6kou.jpg')
SET IDENTITY_INSERT [dbo].[tbl_admin] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_category] ON 

INSERT [dbo].[tbl_category] ([_id], [_name]) VALUES (1, N'IT & Software')
INSERT [dbo].[tbl_category] ([_id], [_name]) VALUES (2, N'Marketing')
INSERT [dbo].[tbl_category] ([_id], [_name]) VALUES (3, N'Finance')
SET IDENTITY_INSERT [dbo].[tbl_category] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_company] ON 

INSERT [dbo].[tbl_company] ([_id], [_name], [_location], [_sector], [_email], [_employer_id], [_image]) VALUES (1, N'FSoft', N'Đà Nẵng', N'Software', N'fsoft@gmail.com', 10, N'https://res.cloudinary.com/dpwseh8x3/image/upload/v1750573678/u2ntk6buk1aycxeffkxv.png')
INSERT [dbo].[tbl_company] ([_id], [_name], [_location], [_sector], [_email], [_employer_id], [_image]) VALUES (2, N'Bosch', N'TP Hồ Chí Minh', N'Software', N'bosch@gmail.com', 7, N'https://res.cloudinary.com/dpwseh8x3/image/upload/v1750573628/pou47a8kglblaewvtbc5.png')
INSERT [dbo].[tbl_company] ([_id], [_name], [_location], [_sector], [_email], [_employer_id], [_image]) VALUES (3, N'HDSaiGon', N'TP Hồ Chí Minh', N'Finance', N'saigonHD@gmail.com', 9, N'https://res.cloudinary.com/dpwseh8x3/image/upload/v1750573687/t8qxll5ixhuindom2gts.png')
SET IDENTITY_INSERT [dbo].[tbl_company] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_district] ON 

INSERT [dbo].[tbl_district] ([_id], [_name], [_lat], [_lng], [_city_id]) VALUES (1, N'Quận 1', N'10.7807', N'106.6994', 4)
INSERT [dbo].[tbl_district] ([_id], [_name], [_lat], [_lng], [_city_id]) VALUES (2, N'Quận 3', N'10.7749', N'106.6863', 4)
INSERT [dbo].[tbl_district] ([_id], [_name], [_lat], [_lng], [_city_id]) VALUES (3, N'Quận 4', N'10.7668', N'106.7057', 4)
SET IDENTITY_INSERT [dbo].[tbl_district] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_employer] ON 

INSERT [dbo].[tbl_employer] ([id], [name], [email], [password], [active], [role], [image]) VALUES (7, N'employer1', N'employer1@gmail.com', N'$2y$12$Tuy4jYqKPXlTPk0t1T9CnObiEmF9YeAHe7ehceg.FsSSilzY.8pcm', 1, N'employer', N'https://res.cloudinary.com/dpwseh8x3/image/upload/v1751120812/eeoysjo2cyyszkmuz9pj.png')
INSERT [dbo].[tbl_employer] ([id], [name], [email], [password], [active], [role], [image]) VALUES (9, N'employer 3', N'employer3@gmail.com', N'$2y$12$1ivvf2eqwY.1QnACXi4SceyX2LuXVEpXtTwRpQK.IxBTJZVZsnYAi', 1, N'employer', N'https://res.cloudinary.com/dpwseh8x3/image/upload/v1751120812/eeoysjo2cyyszkmuz9pj.png')
INSERT [dbo].[tbl_employer] ([id], [name], [email], [password], [active], [role], [image]) VALUES (10, N'employer2', N'employer2@gmail.com', N'$2y$12$surPWqa9O/vH00aT3z8t/.ePlTqGvGl36i7oeWVv49jQHByYjAlfe', 1, N'employer', N'https://res.cloudinary.com/dpwseh8x3/image/upload/v1751120812/eeoysjo2cyyszkmuz9pj.png')
SET IDENTITY_INSERT [dbo].[tbl_employer] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_experience_level] ON 

INSERT [dbo].[tbl_experience_level] ([_id], [_name]) VALUES (1, N'Entry')
INSERT [dbo].[tbl_experience_level] ([_id], [_name]) VALUES (2, N'Mid')
INSERT [dbo].[tbl_experience_level] ([_id], [_name]) VALUES (3, N'Senior')
SET IDENTITY_INSERT [dbo].[tbl_experience_level] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_job] ON 

SET IDENTITY_INSERT [dbo].[tbl_job] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_job_type] ON 

INSERT [dbo].[tbl_job_type] ([_id], [_name]) VALUES (1, N'Full-time')
INSERT [dbo].[tbl_job_type] ([_id], [_name]) VALUES (2, N'Part-time')
INSERT [dbo].[tbl_job_type] ([_id], [_name]) VALUES (3, N'Internship')
SET IDENTITY_INSERT [dbo].[tbl_job_type] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_region] ON 

INSERT [dbo].[tbl_region] ([_id], [_name]) VALUES (1, N'Hà Nội')
INSERT [dbo].[tbl_region] ([_id], [_name]) VALUES (2, N'Huế')
INSERT [dbo].[tbl_region] ([_id], [_name]) VALUES (3, N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[tbl_region] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_saved_job] ON 

INSERT [dbo].[tbl_saved_job] ([_id], [_user_id], [_job_id]) VALUES (5, 9, 31)
INSERT [dbo].[tbl_saved_job] ([_id], [_user_id], [_job_id]) VALUES (6, 9, 33)
SET IDENTITY_INSERT [dbo].[tbl_saved_job] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_user] ON 

INSERT [dbo].[tbl_user] ([id], [name], [email], [password], [cv], [active], [role], [image]) VALUES (8, N'seeker1', N'seeker1@gmail.com', N'$2y$12$xkMBSvd1fqV/tDwPtvyrE.2FHofk5VmyzwB/Yfeh0zVRBUs7m5nFC', N'noimg.png', 1, N'seeker', N'https://res.cloudinary.com/dpwseh8x3/image/upload/v1751120805/fhnhirv8l0skwmzrb6jh.jpg')
INSERT [dbo].[tbl_user] ([id], [name], [email], [password], [cv], [active], [role], [image]) VALUES (9, N'seeker 2', N'seeker2@gmail.com', N'$2y$12$hckFsc.mOfpRyOFK6bhSMeGMiFVWLoCiqFgMN7/HujVSecsg9tBCm', N'noimg.png', 1, N'seeker', N'https://res.cloudinary.com/dpwseh8x3/image/upload/v1751120805/fhnhirv8l0skwmzrb6jh.jpg')
SET IDENTITY_INSERT [dbo].[tbl_user] OFF
GO
/****** Object:  Index [sessions_last_activity_index]    Script Date: 6/30/2025 8:40:02 PM ******/
CREATE NONCLUSTERED INDEX [sessions_last_activity_index] ON [dbo].[sessions]
(
	[last_activity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sessions_user_id_index]    Script Date: 6/30/2025 8:40:02 PM ******/
CREATE NONCLUSTERED INDEX [sessions_user_id_index] ON [dbo].[sessions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_admin] ADD  CONSTRAINT [DF_tbl_admin__active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_admin] ADD  CONSTRAINT [DF_tbl_admin__role]  DEFAULT ('admin') FOR [role]
GO
ALTER TABLE [dbo].[tbl_employer] ADD  CONSTRAINT [DF_tbl_employer__active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_employer] ADD  CONSTRAINT [DF_tbl_employer__role]  DEFAULT ('employer') FOR [role]
GO
ALTER TABLE [dbo].[tbl_user] ADD  CONSTRAINT [DF_tbl_user__cv]  DEFAULT ('noimg.png') FOR [cv]
GO
ALTER TABLE [dbo].[tbl_user] ADD  CONSTRAINT [DF_tbl_user__active]  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[tbl_user] ADD  CONSTRAINT [DF_tbl_user__role]  DEFAULT ('seeker') FOR [role]
GO
ALTER TABLE [dbo].[tbl_company]  WITH CHECK ADD  CONSTRAINT [FK_tbl_employer_tbl_company] FOREIGN KEY([_employer_id])
REFERENCES [dbo].[tbl_employer] ([id])
GO
ALTER TABLE [dbo].[tbl_company] CHECK CONSTRAINT [FK_tbl_employer_tbl_company]
GO
ALTER TABLE [dbo].[tbl_job]  WITH CHECK ADD  CONSTRAINT [FK_tbl_job_tbl_category] FOREIGN KEY([_category_id])
REFERENCES [dbo].[tbl_category] ([_id])
GO
ALTER TABLE [dbo].[tbl_job] CHECK CONSTRAINT [FK_tbl_job_tbl_category]
GO
ALTER TABLE [dbo].[tbl_job]  WITH CHECK ADD  CONSTRAINT [FK_tbl_job_tbl_district] FOREIGN KEY([_district_id])
REFERENCES [dbo].[tbl_district] ([_id])
GO
ALTER TABLE [dbo].[tbl_job] CHECK CONSTRAINT [FK_tbl_job_tbl_district]
GO
ALTER TABLE [dbo].[tbl_job]  WITH CHECK ADD  CONSTRAINT [FK_tbl_job_tbl_employer_id] FOREIGN KEY([_employer_id])
REFERENCES [dbo].[tbl_employer] ([id])
GO
ALTER TABLE [dbo].[tbl_job] CHECK CONSTRAINT [FK_tbl_job_tbl_employer_id]
GO
ALTER TABLE [dbo].[tbl_job]  WITH CHECK ADD  CONSTRAINT [FK_tbl_job_tbl_experience_level] FOREIGN KEY([_experience_level_id])
REFERENCES [dbo].[tbl_experience_level] ([_id])
GO
ALTER TABLE [dbo].[tbl_job] CHECK CONSTRAINT [FK_tbl_job_tbl_experience_level]
GO
ALTER TABLE [dbo].[tbl_job]  WITH CHECK ADD  CONSTRAINT [FK_tbl_job_tbl_feedback] FOREIGN KEY([_feedback_id])
REFERENCES [dbo].[tbl_feedback] ([_id])
GO
ALTER TABLE [dbo].[tbl_job] CHECK CONSTRAINT [FK_tbl_job_tbl_feedback]
GO
ALTER TABLE [dbo].[tbl_job]  WITH CHECK ADD  CONSTRAINT [FK_tbl_job_tbl_job_type] FOREIGN KEY([_job_type_id])
REFERENCES [dbo].[tbl_job_type] ([_id])
GO
ALTER TABLE [dbo].[tbl_job] CHECK CONSTRAINT [FK_tbl_job_tbl_job_type]
GO
ALTER TABLE [dbo].[tbl_job]  WITH CHECK ADD  CONSTRAINT [FK_tbl_job_tbl_region] FOREIGN KEY([_region_id])
REFERENCES [dbo].[tbl_region] ([_id])
GO
ALTER TABLE [dbo].[tbl_job] CHECK CONSTRAINT [FK_tbl_job_tbl_region]
GO
ALTER TABLE [dbo].[tbl_saved_job]  WITH CHECK ADD  CONSTRAINT [FK_tbl_saved_job_tbl_job] FOREIGN KEY([_job_id])
REFERENCES [dbo].[tbl_job] ([_id])
GO
ALTER TABLE [dbo].[tbl_saved_job] CHECK CONSTRAINT [FK_tbl_saved_job_tbl_job]
GO
ALTER TABLE [dbo].[tbl_saved_job]  WITH CHECK ADD  CONSTRAINT [FK_tbl_saved_job_tbl_user] FOREIGN KEY([_user_id])
REFERENCES [dbo].[tbl_user] ([id])
GO
ALTER TABLE [dbo].[tbl_saved_job] CHECK CONSTRAINT [FK_tbl_saved_job_tbl_user]
GO
USE [master]
GO
